.post-edit-button {
  height: 30px;
  margin-right: 15px;
  float: right;
}

.post-delete-button {
  height: 30px;
  background-color: red;
  border: red;
  float: right;
}

.post-delete-button:hover {
  background-color: #FF0E00;
}

.post-container {
  color: black;
  display: flex;
  align-items: center;
  height: 100px;
  width: 500px;
  background-color: rgba(104,104,104, 0.9);
  border-radius: 10px;
  margin: 5px;
}


.post-detail {
  background-color: rgba(104,104,104, 0.9);
  margin-top: 50px;
  border-radius: 10px;
}

.post-detail-author {
  color: white;
  text-align: center;
}

.post-detail-body {
  color: white;
  margin: 20px 100px;
  font-size: 18px;
}

.post-detail-title {
  color: white;
  text-align: center;
  font-size: 60px;
}