* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* PROFILE PAGE */
.profile-page-photo {
  width: 200px;
  height: 200px;
}

.carousel {
  margin-top: 0 !important;
}

.marketing {
  margin-top: 50px;
  margin-bottom: 50px;
}
