* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.video-background {
  max-width: 100%;
  min-width: 100%;
  min-width: 100%;
  position: absolute;
  z-index: -1;
}

/* PROFILE PAGE */
.profile-page-photo {
  width: 200px;
  height: 200px;
}

.marketing {
  margin-top: 50px;
  margin-bottom: 50px;
}
