* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* PROFILE PAGE */
.profile-page-photo {
  width: 200px;
  height: 200px;
}

/* .navbar{
  background: transparent !important;
  /* background-image: radial-gradient( #F9DB00,#DBD700, #51DB00)!important; */

.carousel {
  margin-top: 0 !important;
}

.marketing {
  margin-top: 50px;
  margin-bottom: 50px;
}
