.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 6%;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  position: fixed;
  color: white;
}

.profile-posts-content {
  margin: 50px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 50px;
}
